#overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    overflow: auto;
    position: fixed;
    /* Sit on top of the page content */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
}

.contenedor {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
    overflow: auto;
    width: 70vw;
}

@media (max-width: 767.98px) {
    .contenedor {
        width: 85vw;
    }
}